.skills__container {
    grid-template-columns: repeat(2, 300px);
    column-gap: 3rem;
    justify-content: center;
    row-gap: 150px;
}

.skills__content {
    border: 1px solid rgb(141, 0, 206);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;

}

.skills__subtitle {
    font-size: var(--smaller-font-size);
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 10px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .skills__container {
        grid-template-columns: repeat(1, 350px);
        row-gap: 50px;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 350px) {}