.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5rem;
    column-gap: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.home__img img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    order: 1;
    max-width: 640px;
    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;
}

.home__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes float {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        transform: translateY(0px);
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        transform: translateY(-10px);
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        transform: translateY(0px);
    }
}

.home__title {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--big-font-size);
}

.typing-animation {
    animation: blinkCursor .5s infinite normal, typing 1s steps(50) normal;
}

@keyframes typing {
    from {
        width: 0em;
    }

    to {
        width: 5.5em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
    color: gray;
    animation: opacity 500ms;
}

.home__description {
    position: relative;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    animation: opacity 500ms;
}

/* .home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    color: rgb(141, 0, 206);
    font-size: 1.25rem;
}

.home__social-icon:hover {
    color: var(--title-color-white);
    transition: 0.8s;
} */


h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-size);
}


@media screen and (max-width: 992) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 8px rgba(255 255 255 / 30%);
    }
}

@media screen and (max-width: 768px) {
    .home__social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home__social {
        position: relative;
        left: 1em;
    }

    .home__content {
        grid-template-columns: 2fr 8fr;
        padding: 0;
    }

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
        text-align: center;

    }

    .home__img {
        display: flex;
    }

    .home__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .typing-animation {
        animation: blinkCursor 500ms infinite, typing 1s steps(50) normal;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 6.5em;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .home__img {
        width: 100px;
        height: 100px;
    }

    .home__hand {
        width: 22px;
        height: 22px;
    }
}

.home-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    color: whitte;
    animation: hSocial 1s ease-in-out forwards;
}

.home-social::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: #8c12f0;
}

.home-social a {
    color: white;
}

@keyframes hSocial {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.btn-contact {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.btn-contact:hover {
    letter-spacing: 3px;
    background-color: rgb(141, 0, 206);
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(189, 189, 189, 0.178) 0px 7px 29px 0px;
}

.btn-contact button:active {
    letter-spacing: 3px;
    background-color: rgb(141, 0, 206);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.btn {
    width: 30px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: 2px solid rgb(93 24 220);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    position: relative;
}

.scroll {
    width: 5px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(93 24 220);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    animation: scroll_4013 2s linear infinite;
    transform: translateY(40%);
}

.btn:after {
    content: 'scroll';
    position: absolute;
    top: 140%;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 0.5;
}

@keyframes scroll_4013 {
    0% {
        transform: translateY(40%);
    }

    50% {
        transform: translateY(90%);
    }
}

.home-scroll {
    position: relative;
    top: 3rem;
    right: 1rem;
}