.opinions__container {
    width: 750px;
}

.opinions__card {
    border: 1px solid rgb(141, 0, 206);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.opinions__img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.opinions__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.opinions__description {
    font-size: var(--small-font-size);
    word-break: break-all;
}

/* Swiper */
.swiper-pagination-bullet {
    background-color: var(--white-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

@media screen and (max-width: 992px) {
    .opinions__container {
        width: 100%;
    }
    
    .opinions__card{
        padding: 1.25rem 1.5rem;
    }
}